.largelogo {
  width: 64%;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 5%;
  padding-bottom: calc(5% + 2vh);
  position: relative;
  display: block;

  transition: 0.2s ease all;
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: 0;
}

.content#image-header{
  margin: 2.5rem 0 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
}

.content#image-header::after{
  left: 0;
  top: calc(100% - 2.5rem);
  background-image: linear-gradient(315deg, #e2a7f1 25%, transparent 25%), linear-gradient(45deg, #e2a7f1 25%, transparent 25%);
}

@media (min-device-width:321px)  {/* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-device-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .content#image-header{
    margin-top: 3.5rem;
  }
}

@media (min-device-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}

@media (min-device-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .content#image-header{
    margin-top: 2.5rem;
  }

  .largelogo {
    width: 45%;
    padding-left: 27.5%;
    padding-right: 27.5%;
  }
}

@media (min-device-width:1025px) { /* big landscape tablets, laptops, and desktops */
  .content#image-header{
    margin-top: 2.5rem;
  }
}

@media (min-device-width:1281px) { /* hi-res laptops and desktops */
  .largelogo {
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media only screen and (min-device-width:1921px) { /* UHD */
  .content#image-header {
    margin-top: 3rem;
  }
}
