@font-face {
  font-family: 'Bierstadt Bold Italic';
  src: url('../fonts/BIERSTADT_BI.ttf') format('truetype');
}

@font-face {
  font-family: 'Bierstadt Bold';
  src: url('../fonts/BIERSTADT_B.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futurapress.ttf') format('truetype');
}

html {
  display: block;
  overflow-x: hidden;
  overflow-y: visible;
  scroll-behavior: smooth;
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: #646464 light;
}

body {
  max-width: 100vw;
  width: 100vw;
  font-family: 'Bierstadt Bold', sans-serif;
  font-weight: 500;
  background-color: #315fb3;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  font-family: 'Futura', sans-serif;
  font-size: 2rem;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: 'Bierstadt Bold Italic', sans-serif;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  font-size: 1.25rem;
}

a {
  color: inherit;
}

table{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2vh;
  width: 80%;
  table-layout: fixed;
}

.included{
  display: contents;
}

.content{
  position: relative;
  height: fit-content;
  display: block;
  padding: 8vh 10vw 8vh;
  background: none;
  width: 80%;
  max-width: 80%;
}

.content::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  display: block;
  height: 4vh;
  width: 100vw;
  background-size: 4vh 100%;
  background-image: linear-gradient(135deg, #315fb3 25%, transparent 25%), linear-gradient(225deg, #315fb3 25%, transparent 25%);
  background-position: 0 0;
}

@media (min-device-width:321px) { /* smartphones, iPhone, portrait 480x320 phones */

}

@media (min-device-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (min-device-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

}

@media (min-device-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .content{
    max-width: 90%;
    width: 90%;
    padding: 8vh 5vw 8vh;
  }

  table{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    max-width: 90%;
    margin-bottom: 8vh;
  }
}
@media (min-device-width:1025px) { /* big landscape tablets, laptops, and desktops */

  .content{
    max-width: 80vw;
    width: 80vw;
    padding: 8vh 10vw 8vh;
  }

}
@media (min-device-width:1281px) { /* hi-res laptops and desktops */

  .content{
    width: 60vw;
    padding: 8vh 20vw 8vh;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

}
