#navbar{
  display: none;
}

#navbar-mobile {
  display: block;
}

#navlinks {
  display: flex;
  flex-direction: column;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 8vh;
  left: -2px;
  background-color: #315fb3;
  color: #e2a7f1;
  overflow-x: hidden;
  transition: 1s ease all;
  border-right: solid #e2a7f1 2px;
  border-bottom: solid #e2a7f1 2px;
}

#navlinks.active{
  width: 40%;
}

#navlinks li a{
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #315fb3;
  position: fixed;
  z-index: 640;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 8vh;
  border-bottom-color: #e2a7f1;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  overflow: hidden;
}

li {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e2a7f1;
  height: calc(100% - 0.125rem);
  top: 0;
  margin-top: 0.25rem;
  margin-left: 0.25vw;
  border-color: #ffffffff;
  border-radius: 0.625rem;
  transition: 0.4s ease all;
}

li.icon {
  padding-top: 0.25rem;
}

li.right{
  float: right;
}

li button{
  display: flex;
  font-family: 'Futura', sans-serif;
  text-align: center;
  background: none;
  border: none;
  height: 100%;
  align-itrems: center;
  font-size: 1.4rem;
  color: #e2a7f1;
  margin-top: 3.5%;
}

li button:hover{
  color: #315fb3;
}

li button img{
  height: 76%;
  padding-top: 0.125rem;
  margin-top: -3.5%;
  margin-right: 0.5rem;
}

li a, li a:visited, li a:link{
  color: inherit;
  font-family: 'Futura', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  padding: 0 0.3125rem;
  display: block;
}

li:hover{
  background-color: #e2a7f1;
  color: #315fb3;
}

@media only screen and (min-device-width:321px) {
  li a, li a:visited, li a:link {
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  ul {
    height: 6vh;
  }

  #navlinks {
    top: 6vh;
    font-size: 2rem;
  }

  #navlinks.active{
    width: 32%;
  }

  li a, li a:visited, li a:link {
    font-size: 2.5rem;
  }

  li button img {
    height: 85%;
    margin-right: 1rem;
  }

  li:hover {
    background: none;
  }

}

@media only screen and (min-device-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  ul {
    height: 4vh;
  }

  #navlinks {
    top: 4vh;
  }

  li a, li a:visited, li a:link {
    font-size: 3rem;
  }

  #navlinks li a {
    font-size: 2rem;
  }

  li button img {
    margin-right: 0.5rem;
  }
}

@media only screen and (min-device-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  ul{
    height: 8vh;
  }

  #navlinks {
    top: 8vh;
  }

  li a, li a:visited, li a:link {
    font-size: 2rem;
  }

  li button img {
    width: 85%;
    height: 85%;
    margin-right: 0.125rem;
  }

  #navlinks li a {
    font-size: 1.25rem;
  }

  #navlinks.active {
    width: 25%;
  }
}

@media only screen and (min-device-width:1025px) { /* big landscape tablets, laptops, and desktops */
  /*#navbar-mobile{
    display: none;
  }

  #navbar{
    display: initial;
  }

  #navbar li button, #navbar li a{
    font-size: 1rem;
  }*/
}

@media only screen and (min-device-width:1281px) { /* hi-res laptops and desktops */

}
