.content#program{
  color: #d7855f;
  background-color: #245e8b;
  padding-bottom: 1vh;
}
.content#program::after{
  background-image: linear-gradient(135deg, #245e8b 25%, transparent 25%), linear-gradient(225deg, #245e8b 25%, transparent 25%);
}

#program table, #program th, #program td {
  border-collapse: collapse;
}

#program tr{
  vertical-align: top;
  height: 4vh;
  margin: 0;
}

#program td{
  position: relative;
  width: auto;
  height: 100%;
}

#program th{
  font-size: 2rem;
  font-weight: 640;
}

#program #time{
  width: 3vw;
  text-align: right;
  font-size: 1rem;
}

.activity {
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  position: absolute;
  border: 2px solid #245e8b;
  color: #245e8b;
  background-color: #d7855f;
  border-radius: 15px;
  transition: 0.4s ease all;
  z-index: 2;
}

.activity.color_shift{
  border: 2px solid #d7855f;
  color: #d7855f;
  background-color: #245e8b;
  z-index: 3;
}

.activity.center{
  width: calc(100% - 4px);
  left: 0;
  right: 0;
}

.activity.left{
  width: calc(49% - 4px);
  left: 2px;
}
.activity.right{
  width: calc(49% - 4px);
  right: 2px;
}

.activity.center.triple{
  width: calc(33% - 4px);
  left: calc(33% + 3px)
}

.activity.left.triple{
  width: calc(33% - 4px);
  left: 2px;
}

.activity.right.triple{
  width: calc(33% - 4px);
  right: 2px;
}

#activity-content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 70%;
}

#activity-content h2{
  margin: 0;
}

#description, #duration{
  font-size: 1px;
  visibility: hidden;
  transition: 0.4s ease all;
}

#duration {
  color: black;
}

.activity:hover, .activity:active{
  z-index: 12;
  background-color: #245e8b;
  color: #d7855f;
  border-color: #d7855f;
  width: calc(164% - 4px);
}

.activity.left:hover, .activity.center:hover, .activity.left:active, .activity.center:active{
  left: -32%;
}

.activity.right:hover, .activity.right:active{
  right: -32%;
}

.activity:hover h2, .activity:active h2{
  font-size: 1.5rem;
}

.activity:hover #description, .activity:active #description{
  visibility: visible;
  font-size: 1.25rem;
}

.activity:hover #description b, .activity:active #description b{
  color: white;
}

.activity:hover #duration, .activity:active #duration{
  visibility: visible;
  font-size: 1rem;
}

@media only screen and (max-device-width: 1024px) {
  #program-container table{
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #program #time{
    width: 6vw;
  }

  #program tr{
    height: 14vh;
  }
}

@media only screen and (max-device-width: 640px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #program tr{
    height: 8vh;
  }

  #program #time{
    width: 16vw;
    max-width: 16vw;
    font-size: 1.5rem;
  }

  .activity:hover, .activity:active{
    width: calc(132% - 4px);
  }

  .activity.left:hover, .activity.center:hover, .activity.left:active, .activity.center:active{
    left: -28%;  }

  .activity.right:hover, .activity.right:active{
    right: -28%;
  }
}
